<% @page_title = "Nodes List" %>

<h1>Nodes list</h1>

<ul class="nav nav-pills">
  <li><%= link_to('Add Node', {:action => 'new'}, :class => 'action new') %></li>
</ul>

<% if !@nodes.empty? %>
  <div class="margin-top-1 margin-bottom-1">
    <span class="badge"><%= pluralize(@nodes.size, 'user') %></span>
  </div>

  <table class="table table-striped table-hover" summary="Nodes list">
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Author</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    <% @nodes.each do |node| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= node.id %></td>
        <td><%= node.node_title.title unless node.node_title.nil? %></td>
        <td><%= node.user.name %></td>
        <td><%= node.status %></td>
        <td class="actions">
          <ul class="list-inline">
            <li>
              <a title="Edit" href="<%= url_for({:action => 'edit', :id => node.id}) %>"><i class="glyphicon glyphicon-edit"></i></a>
            </li>
            <li>
              <a title="Delete" href="<%= url_for({:action => 'delete', :id => node.id}) %>"><i class="glyphicon glyphicon-remove-sign"></i></a>
            </li>
          </ul>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <div class="well well-sm margin-top-1">Nodes not found</div>
<% end %>
