<section class="container-fluid header">
  <div class="row header-info">
    <div class="container">
      <div class="row">
        <div class="col-md-12 user">
          <%= image_tag @profile_image, :class => 'img-circle' %>
          <h2><%= @user.name %></h2>
          <% if !@profile.nil? && (!@profile.city.empty? || !@profile.company.empty?) %>
            <ul class="list-inline">
              <% if !@profile.city.empty? %>
                <li>
                  <h5>
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    <span><%= @profile.city %></span>
                  </h5>
                </li>
              <% end %>
              <% if !@profile.company.empty? %>
                <li>
                  <h5>
                    <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
                    <span><%= @profile.company %></span>
                  </h5>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="video-wrapp">
    <video class="video" autoplay="" muted="" loop="" poster="<%= image_url('front_header.jpg') %>">
      <source src="https://secure-c.vimeocdn.com/p/video/yosemite_hd_ii_hd.webm" type="video/webm">
      <source src="https://secure-c.vimeocdn.com/p/video/yosemite_hd_ii_hd.mp4" type="video/mp4">
    </video>
  </div>
</section>

<section class="bullets">
  <div class="container">
    <div class="row">
      <% @nodes.each do |node_block| %>
        <div class="col-md-6">
          <% node_block.each do |node| %>
            <div class="node">
              <div class="img"><%= image_tag node.image.url :thumb %></div>
              <div class="text"><%= node.body %></div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section class="skills" id="skills">
  <div class="container">
    <div class="row">
      <h2 class="title text-center">My skills</h2>
      <div class="col-md-12">
        <div id="skills-chart-wrapp">
          <div id="skills-chart"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="repositories" id="projects">
  <div class="container">
    <div class="row">
      <h2 class="title text-center">My projects</h2>

      <% @repos.each do |repo| %>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="repo-wrapper">
            <h3 class="language language-<%= repo.language.downcase %>"><%= repo.language %></h3>
            <div class="desc">
              <h2 class="name"><%= repo.name %></h2>
              <p class="description"><%= repo.description %></p>
            </div>
            <div class="counts">
              <div class="col-xs-4">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <%= repo.stargazers_count %>
              </div>
              <div class="col-xs-4">
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                <%= repo.watchers_count %>
              </div>
              <div class="col-xs-4">
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                <%= time_ago_in_words(repo.updated_at) %>
              </div>
            </div>
            <a target="_blank" href="<%= repo.html_url %>">&nbsp;</a>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11">test</div>
      <% if !@social.empty? %>
        <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
          <ul class="text-center list-unstyled social">
            <% @social.each do |name, value| %>
              <li>
                <a target="_blank" class="social-link" href="<%= value %>">
                  <%= image_tag(name + '.svg') %>
                </a>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</footer>